<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Managing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
		$(document).ready(function(){
			$("#header").load("/admin-header.html");
		});

    </script>
</head>
<body>

<div id="header"></div>
<div class="container">
    <h1 class="center">Inbox</h1>
    <br><br>
    <tr th:each="senderToMessage : ${senderToMessages}" th:object="${senderToMessages}">
        <input name="id" th:value="${senderToMessage.getRight().id}" hidden th:object="${newMessage}">
        <p class="list-group-item">
            From user: <span th:text="${senderToMessage.getLeft().username}"></span>
        </p>
        <br>
        <p class="list-group-item">
            Subject: <span th:text="${senderToMessage.getRight().subject}"></span>
        </p>
        <br>
        <form class="form-signin" method="get" th:action="@{/adminMessageReply}" action="#">
            <input name="id" th:value="${senderToMessage.getRight().id}" hidden th:object="${newMessage}">
            <button class="btn btn-lg btn-primary" type="submit">Reply to message</button>
        </form>
        <br>
        <form class="form-signin" method="post" th:action="@{/removeMessage}" action="#">
            <input name="id" th:value="${senderToMessage.getRight().id}" hidden th:object="${newMessage}">
            <button class="btn btn-lg btn-primary btn-danger" type="submit">Remove</button>
        </form>
    </tr>
</div>

</body>
</html>