<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$(document).ready(function(){
			$("#header").load("/header.html");
		});

		if ($(".delete-profile-btn").length == 1) {
			$($(".delete-profile-btn")[0]).attr("disabled", true);
		}
	});
	</script>
</head>
<body>
<div id="header"></div>
<div class="container" th:object="${user}">
	<h1 class="center">My Profile</h1>

	<form class="form-signin" method="post" th:action="@{/userDataUpdate}" th:object="${user}" action="#">
		<h2 class="form-signin-heading">Information shared between all profiles:</h2>
		<p>
			<label for="firstname" class="sr-only">Firstname:</label>
			<input type="text" id="firstname" name="firstname" class="form-control" placeholder="Firstname" required="" autofocus=""
				   pattern="^[A-Za-z -]+$"
				   title="Only alphabetic chars are allowed"
				   th:field="*{firstName}">
		</p>
		<p>
			<label for="lastname" class="sr-only">Lastname:</label>
			<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Lastname" required="" autofocus=""
				   pattern="^[A-Za-z -]+$"
				   title="Only alphabetic chars ale allowed"
				   th:field="*{lastName}">
		</p>
		<p>
			<label for="birthday" class="sr-only">Date Of Birth:</label>
			<input type="date" id="birthday" name="birthday" class="form-control" placeholder="Birth:" required="" autofocus=""
				   th:field="*{birthday}">
		</p>
		<p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" id="common-profile-data-update">Update for all profiles</button>
	</form>

	<br><br>
	<h1>Profiles:</h1>
	<br><br>
	<tr th:each="profile : ${user.profiles}" th:object="${profile}">
		<form class="form-signin" method="post" th:action="@{/profileUpdate}" action="#">
			<p>
				<label class="sr-only">Email:</label>
				<input type="hidden" class="form-control" name="id" th:value="${profile.id}">
				<input type="email" class="email-field form-control" name="email" placeholder="Email" required="" autofocus=""
					   th:value="${profile.email}">
			</p>
			<p>
				<label class="sr-only">Postal Code:</label>
				<input type="text" class="postcode-field form-control" name="postalCode" placeholder="Postal Code" required="" autofocus=""
					   th:value="${profile.postalCode}">
			</p>
			<p>
				<label class="sr-only">Address:</label>
				<input type="text" class="address-field form-control" name="postalCode" placeholder="Address" required="" autofocus=""
					   th:value="${profile.address}">
			</p>
			<p><input type="checkbox" name="defaultBillingAddress" th:checked="${profile.defaultBillingAddress}"> Default Billing Address</p>
			<p><input type="checkbox" name="defaultShippingAddress" th:checked="${profile.defaultShippingAddress}"> Default Shipping Address</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
		</form>
		<form class="form-signin" method="post" th:action="@{/profileDelete}" action="#">
			<br>
			<input type="hidden" class="form-control" name="id" th:value="${profile.id}">
			<button class="btn btn-lg btn-danger btn-block delete-profile-btn" type="submit">Delete</button>
			<br>
			<br>
		</form>
	</tr>

	<b>Create a new profile</b><br><br>
	<form class="form-signin" method="post" th:action="@{/profileUpdate}" th:object="${newProfile}" action="#">
		<p>
			<label class="sr-only">Email:</label>
			<input type="email" class="email-field form-control" name="email" placeholder="Email" required="" autofocus=""
				   th:field="*{email}">
		</p>
		<p>
			<label class="sr-only">Postal Code:</label>
			<input type="text" class="postcode-field form-control" name="postcode-field" placeholder="Postal Code" required="" autofocus=""
				   th:field="*{postalCode}">
		</p>
		<p>
			<label class="sr-only">Address:</label>
			<input type="text" class="address-field form-control" name="postalCode" placeholder="Address" required="" autofocus=""
				   th:field="*{address}">
		</p>
		<p><input type="checkbox" name="default-billing" th:field="*{defaultBillingAddress}"> Default Billing Address</p>
		<p><input type="checkbox" name="default-shipping" th:field="*{defaultShippingAddress}"> Default Shipping Address</p>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Add new profile</button>
	</form>
</div>

</body>
</html>